<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Estudio"
        tools:targetApi="31">
        <activity
            android:name=".firtsapp.OlvActivity"
            android:exported="false" />
        <activity
            android:name=".firtsapp.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".firtsapp.DocumentoActivity"
            android:exported="false" />
        <activity
            android:name=".firtsapp.VentasActivity"
            android:exported="false" />
        <activity
            android:name=".firtsapp.OrdenActivity"
            android:exported="false" />
        <activity
            android:name=".firtsapp.ProduccionActivity"
            android:exported="false" />
        <activity
            android:name=".firtsapp.CompraActivity"
            android:exported="false" />
        <activity
            android:name=".firtsapp.MemorandoActivity"
            android:exported="false" />
        <activity
            android:name=".firtsapp.ReciboActivity"
            android:exported="false" />
        <activity
            android:name=".firtsapp.FacturaActivity"
            android:exported="false" />
        <activity
            android:name=".firtsapp.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".firtsapp.FirtsAppActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>